{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>
            Briefer
        </title>
        <link href='https://fonts.googleapis.com/css?family=Averia Sans Libre' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Cabin Sketch' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/optimize.css' %}">
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->

    </head>
    <body>
        <header>
            <!--NAV BAR-->
            <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
              <a class="navbar-brand" href="{% url 'home' %}">BRIEFER</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Summary' %}">Summary</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'Optimize' %}">Optimize</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'LangTranslate' %}">Translate</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'Sentiment' %}">Sentiment</a>
                        </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'About' %}">About</a>
                      </li>      
                  </ul>
                </div>  
              </nav>
            <!--END NAV-->
        </header>
        <!--VOICE ASSISTANT-->
        
        <!--END VOICE-->

        <!--MAIN AREA-->
        <div class="container-fluid">
            <div id="optimize">
              <h1 class="dispay-4">Text Optimizer</h1>
              <div class="container">
    
                  <div class="row" id="Otextareas">
                      <form  action="{% url 'Optimize' %}" method="post" class="col-md-6 col-12"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea name="text" id="text" placeholder="Input your text" >{% if text %}{{ text }}{% endif %}{% if output %}{{output}}{% endif %}</textarea>
                        <div class="row" id="optimizeinputs">
                          
                          <!-- User input options -->


                          <input type="radio" id="text_up" name="text_up" value="text_up">
                          <label for="text_up">Paste Your Text</label>
                          <input type="radio" id="upld" name="upld" value="upld">
                          <label for="upld">UPLOAD</label>
                          <input type="radio" id="url_up" name="url_up" value="url_up">
                          <label for="url_up">URL</label>
                          <input type="file" id="file" name="file">
                        <button type="submit">Optimize</button>
                      </div>
                      </form>
                    
                      <form class="col-md-6 col-12">
                        {% csrf_token %}
                        <textarea name="" id="opti">{{optimized}}</textarea>
                        <div id="synonyms">
                          <table class="table table-hover table-danger">
                            <thead>
                            <tr>
                              <th>Word</th>
                              <th>Synonyms</th>
                            </tr>
                            </thead>
                            <tbody>
                          {% for w,s in words.items %}
                              <tr>
                                <td>{{w}}</td>
                                <td>{{s}}</td>
                              </tr>
                          {% endfor %}
                          </tbody>
                          </table>
                        </div>
                        
                      </form>
                  </div>
                </div>
              </div>
        </div>
        <!--END MAIN AREA-->
        <script>
             $('.navbar-collapse a').click(function(){
                $(".navbar-collapse").collapse('hide');
            }); 

            
        </script>
        <script src="https://kit.fontawesome.com/dba7b28fc9.js" crossorigin="anonymous"></script>
        
    
    </body>
</html>