*{
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  canvas{
    position: fixed;
  }
  /*NAV ITEMS*/
  .navbar-brand{
    font-family: 'Cabin Sketch';
    font-size: 2em;
  }
  
  #logo{
    width: 20%;
    height: 20%;
  }
  .navbar-nav li{
      text-align: center;
      padding: .3rem 1.5rem;
      font-size: 17px;
  }
  .nav-link{
    color: white !important;
    font-family: 'Englebert';
    font-weight: normal;
    font-size: 1.2em;
  }
  .navbar-nav li:hover{
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f1/HILLBLU_button_background.svg');
      background-size: 100% 100%;
      color: #27262c;
      animation: spring 300ms ease-out;
      text-shadow: 0 -1px 0 rgb(27, 113, 184);
      font-weight: bold;
  }
  .navbar-nav li.active {
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f1/HILLBLU_button_background.svg');
      background-size: 100% 100%;
      color: #27262c;
      animation: spring 300ms ease-out;
      text-shadow: 0 -1px 0 rgb(27, 113, 184);
      font-weight: bold;
  }
  
  @keyframes spring {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }
  /*END NAV*/
  
  /*MAIN AREA*/
  .container-fluid{
    padding: 0px;
  }
  #home, #summary, #languageTrans, #optimize, #sentiment, #about{
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: auto;
    max-width: none;
    height: 100vh;
  }
  #about{
    background: url("https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg") no-repeat;
    background-size: cover;
}
  
  /*END MAIN AREA*/
  
  h1{
    margin-top: 80px;
    text-align: center;
    color: #27262c;
    font-family: 'Cabin Sketch';
  }
  
  #mainarea{
    background-color:rgba(21, 21, 27, 0.158);
    height:100%;
    width:100%;
    margin:auto;
    padding: 20px;
  }
  
  span{
    color: white !important;
    font-family: 'Englebert';
    text-align: center;
    font-weight: bold;
    margin: auto;
    display: block;
  }
  
  h3{
    width: 50%;
    margin: 20px auto 20px auto;
    background-color:rgba(245, 108, 92, 0.993);
    border: 2px solid white;
    border-radius: 5px;
    font-size: medium;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }


#cardtext{
  width: 50%;
    margin: 20px auto 20px auto;
    font-size: larger;
    color: white;
    font-weight: bold;
    text-align: center;
    
    
}



.cardBox {
  float: left;
  font-size: 1em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  background: transparent;
  cursor: default;
  border: hidden;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.4em;
  font-family:'Englebert';
  height: 100%;
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.card .front img{
  width:inherit;
  height: inherit;
  border: 1px solid rgba(27, 113, 184, 0.671);
  border-radius: 20px;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: rgba(27, 113, 184, 0.616);
}

.cardBox:nth-child(2) .card .back {
  background: rgba(27, 113, 184, 0.616);
}

.cardBox:nth-child(3) .card .back {
  background: rgba(27, 113, 184, 0.616);
}

.cardBox:nth-child(4) .card .back {
  background: rgba(27, 113, 184, 0.616);
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}

