*{
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  canvas{
    position: fixed;
  }
  /*NAV ITEMS*/
  .navbar-brand{
    font-family: 'Cabin Sketch';
    font-size: 2em;
  }
  #logo{
    width: 20%;
    height: 20%;
  }
  .navbar-nav li{
      text-align: center;
      padding: .3rem 1.5rem;
      font-size: 17px;
  }
  .nav-link{
    color: white !important;
    font-family: 'Englebert';
    font-weight: normal;
    font-size: 1.2em;
  }
  .navbar-nav li:hover{
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f1/HILLBLU_button_background.svg');
      background-size: 100% 100%;
      color: #27262c;
      animation: spring 300ms ease-out;
      text-shadow: 0 -1px 0 rgb(27, 113, 184);
      font-weight: bold;
  }
  .navbar-nav li.active {
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f1/HILLBLU_button_background.svg');
      background-size: 100% 100%;
      color: #27262c;
      animation: spring 300ms ease-out;
      text-shadow: 0 -1px 0 rgb(27, 113, 184);
      font-weight: bold;
  }
  
  @keyframes spring {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }
  /*END NAV*/
  
  /*MAIN AREA*/
  .container-fluid{
    padding: 0px;
  }
  #home, #summary, #languageTrans, #optimize, #sentiment, #about{
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: auto;
    max-width: none;
    height: 100vh;
  }
  #about{
    background: url("https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg") no-repeat;
    background-size: cover;
}
  
  /*END MAIN AREA*/
  
  h1{
    margin-top: 80px;
    text-align: center;
    color: #27262c;
    font-family: 'Cabin Sketch';
  }
  
  #mainarea{
    background-color:rgba(21, 21, 27, 0.158);
    height:100%;
    width:100%;
    margin:auto;
    padding: 20px;
  }
  
  span{
    color: white !important;
    font-family: 'Englebert';
    text-align: center;
    font-weight: bold;
    margin: auto;
    display: block;
  }
  
  h3{
    width: 50%;
    margin: 20px auto 20px auto;
    background-color:rgba(245, 108, 92, 0.993);
    border: 2px solid white;
    border-radius: 5px;
    font-size: medium;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }

.flip-card {
    background-color: transparent;
    width: 280px;
    height: 280px;
    perspective: 1000px;
    border-radius: 20px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 20px;
  }
  
  .flip-card-back {
    background-color: rgba(91, 170, 235, 0.486);
    color: black;
    transform: rotateY(180deg);
    font-size: 1.3em;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Englebert';
  }

 .imgtxt{
   background-color: rgba(27, 113, 184, 0.548);
   border-radius: 1px;
   font-family: 'Cabin Sketch';
   font-weight: bold;
   font-size: 1.5em;
   margin-top: 2%;
   border-radius: 10px;
 }