.typewriter {
  color: #000;
  font-family: "Cabin Sketch";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*The typwriter cursor*/
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  font-size: 6em;
  
  animation: 
    typing 2.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(27, 113, 184)}
}

#textanimation{
  
  display:flex;
  justify-content: center;
  margin-top: 80px;
}

@media only screen and  (min-width: 500px) {
  .typewriter{
      font-size: 2.3rem;  
  }
}
@media only screen and  (min-width: 625px) {
  .typewriter{
      font-size: 3rem;  
  }
}

/* Small devices (tablets, 768px and up) */
@media only screen and  (min-width: 768px) {
  .typewriter{
      font-size: 3.8rem;  
  }

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .typewriter{
      font-size: 4.8rem;  
  }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .typewriter {
      font-size: 5.6rem;  
  }
}