.typewriter {
  color: #000;
  font-family: "Cabin Sketch";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*The typwriter cursor*/
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  font-size: 5.8em;
  
  animation: 
    typing 2.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(27, 113, 184)}
}

#textanimation{
  
  display:flex;
  justify-content: center;
  margin-top: 80px;
}
@media only screen and (min-width: 200px) and (max-width: 374px) {
  .typewriter {
    font-size: 2.3em;  
    margin-top: 10px;
    text-align: center;
   
  }
  .navbar-brand{
    font-size: 1.2em;
  }
  .navbar-toggler-icon{
    width: 0.7em;
  }
}
@media only screen and (min-width: 375px) and (max-width: 410px) {
  .typewriter {
    font-size: 2.3em;  
    margin-top: 10px;
    text-align: center;
   
  }
  .navbar-brand{
    font-size: 1.5em;
  }
  .navbar-toggler-icon{
    width: 1.1em;
  }
}
@media only screen and (min-width: 411px) and (max-width: 570px) {
  .typewriter {
    font-size: 3.3em;  
    margin-top: 30px;
    text-align: center;
  }
}
@media only screen and  (min-width: 571px) and (max-width: 767px) {
  .typewriter {
    font-size: 2.8em;  
   
    text-align: center;
  }
  .navbar-brand{
    font-size: 1.5em;
  }
}


/* Small devices (tablets, 768px and up) */
@media only screen and  (min-width: 768px) and (max-width: 823px) {
  .typewriter {
    font-size: 3.4em;  
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 824px) and (max-width: 992px) {
  .typewriter {
      font-size: 4.1em;  
  }
}