.ml9 {
    position: relative;
    margin-top: 70px;
    text-align: center;
    font-family: 'Cabin Sketch';
    color: #27262c;
    margin-bottom: 0%;
  }
  span{
    font-family: 'Cabin Sketch';
    font-weight: normal !important;
    margin-bottom: -5%;
    color: #27262c !important;
  }
@media only screen and  (min-width: 500px) {
    .letters span, .ml9{
        font-size: 2.3rem;  
    }
}
@media only screen and  (min-width: 625px) {
  .letters span, .ml9{
        font-size: 3rem;  
    }
}

 /* Small devices (tablets, 768px and up) */
@media only screen and  (min-width: 768px) {
  .letters span, .ml9{
        font-size: 3.8rem;  
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .letters span, .ml9{
        font-size: 4.8rem;  
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .letters span,.ml9 {
        font-size: 5.6rem;  
    }
}
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }