*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
/*NAV ITEMS*/
.navbar-brand{
  font-family: 'Cabin Sketch';
}
.navbar-nav li{
    text-align: center;
    padding: .3rem 1.5rem;
    font-size: 17px;
}
.nav-link{
  color: white !important;
  font-family: 'Bad Script';
  font-weight: bold;
}
.navbar-nav li:hover{
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}
.navbar-nav li.active {
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}
/*END NAV*/

/*MAIN AREA*/
.container-fluid{
  padding: 0px;
}
#home, #summary, #languageTrans, #optimize, #sentiment, #about{
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: auto;
  max-width: none;
  height: 100vh;
  background-color: #ef816c;
}

/*END MAIN AREA*/

h1{
  margin-top: 80px;
  text-align: center;
  color: #27262c;
  font-family: 'Cabin Sketch';
}

#mainarea{
  background-color:rgba(21, 21, 27, 0.158);
  height:100%;
  width:100%;
  margin:auto;
  padding: 20px;
}

span{
  color: white !important;
  font-family: 'Bad Script';
  text-align: center;
  font-weight: bold;
  margin: auto;
  display: block;
  
}

h3{
  width: 50%;
  margin: 20px auto 20px auto;
  background-color:rgba(245, 108, 92, 0.993);
  border: 2px solid white;
  border-radius: 5px;
  font-size: medium;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

/*Voice Assistant*/
.modal-content{
  background-color: rgba(243, 136, 136, 0.849);
  color: white;
}
h5.modal-title{
  text-align: center;
}
#result{
  position: relative;
}
#userchat{
  background-color:  rgb(204, 82, 82);
  border-radius: 8px;
  padding: 5px;
  color: white;
  width: fit-content;
  font-weight: bold;
}

#asstchat{
  background-color: rgb(53, 52, 52);
  color: white;
  border-radius: 8px;
  padding: 5px;
  width: fit-content;
  font-weight: bold;
}

@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

#headdef {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 40px #2e2e31;
  font-size: 80px;
  font-weight: bold;
  
  text-decoration: none;
  letter-spacing: 3px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#headdef:before,
#headdef:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 6s infinite alternate ease-in-out tipsy;
}

#headdef:before {
  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

#headdef:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}


#homerow{
  margin-top: 8%;
  padding-top: 7%;
  
  border-radius: 10px;

}
#imgrow, #titlesrow{
  padding: 5px;
  justify-content: center;
  text-align: center;
}
#imgrow img{
  border: 2px solid  #d9524a;
  border-radius: 5px;
  padding: 0;
}
#titlesrow p{
  font-family: 'Cabin Sketch';
  color: white;
  font-weight: bold;
}
#fronttext {
  color:rgb(255, 255, 255);
  font-family: 'Bad Script';
  text-align: justify;
  font-size: x-large;
  border-radius: 10px; 
  font-weight: bolder;
}

#linkid{
 
  float: right;
  background-color: #d9524a;
  font-size: x-large;
  padding: 2% 2% ;
  margin-top: 1%;
  margin-bottom: 2%;
  text-decoration: none;
  color: white;
  font-size: large;
  text-shadow: black ;
  font-family:'Playfair Display', serif ;
  
  
}
  
  #linkid:hover{
    background-color: #e6767091;
  }



#frontrow{
  margin-top: 6.5%;
  padding-top: 2%;
  overflow: hidden;
  
  padding-bottom: 4%;
  padding-right: 2%;
  border-radius: 10px;
  
}

#second {
  background-color: white;
}

.card{
  padding : 5%;
  
}

.card-image{
  align-items: center;
}

.card-content{
  
  flex-wrap: wrap;
  height: 3%;
}

span.card-title{
  color:black !important;
  font-size: 1.5em;
  font-family: 'Cabin Sketch';
  margin-top: 10px;
}
