*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
canvas{
  position: fixed;
}
/*NAV ITEMS*/
.navbar-brand{
  font-family: 'Cabin Sketch';
}
.navbar-nav li{
    text-align: center;
    padding: .3rem 1.5rem;
    font-size: 17px;
}
.nav-link{
  color: white !important;
  font-family: 'Englebert';
  font-weight: normal;
  font-size: 1.2em;
}
.navbar-nav li:hover{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh1R9V1yDkgUQjAW2mjNADcBEoYxUjsQNwNw&usqp=CAU');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 rgb(27, 113, 184);
    font-weight: bold;
}
.navbar-nav li.active {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh1R9V1yDkgUQjAW2mjNADcBEoYxUjsQNwNw&usqp=CAU');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 rgb(27, 113, 184);
    font-weight: bold;
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}
/*END NAV*/

/*MAIN AREA*/
.container-fluid{
  padding: 0px;
}
#home, #summary, #languageTrans, #optimize, #sentiment, #about{
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: auto;
  max-width: none;
  height: 100vh;
  
  
}

/*END MAIN AREA*/

h1{
  margin-top: 80px;
  text-align: center;
  color: #27262c;
  font-family: 'Cabin Sketch';
}

#mainarea{
  background-color:rgba(21, 21, 27, 0.158);
  height:100%;
  width:100%;
  margin:auto;
  padding: 20px;
}

span{
  color: white !important;
  font-family: 'Englebert';
  text-align: center;
  font-weight: bold;
  margin: auto;
  display: block;
  
}

h3{
  width: 50%;
  margin: 20px auto 20px auto;
  background-color:rgba(245, 108, 92, 0.993);
  border: 2px solid white;
  border-radius: 5px;
  font-size: medium;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

/*Voice Assistant*/
.modal-content{
  background-color: rgba(255, 255, 255, 0.774);
  color: #27262c;
  overflow-y: auto;
  max-height: 500px;
  
}
.modal-title{
  font-family: 'Englebert';
  margin: auto;
  font-size: 1.8em;
}
.modal-header{
  background-color: rgb(27, 113, 184);
  color: white;
}
.modal-header .close{
  margin: 0;
}

#result{
  position: relative;
}
#userchat{
  background-color:  rgb(46, 105, 153);
  border-radius: 8px;
  padding: 5px;
  color: white;
  width: fit-content;
  font-weight: bold;
}

#asstchat{
  background-color: rgb(73, 70, 70);
  color: white;
  border-radius: 8px;
  padding: 5px;
  width: fit-content;
  font-weight: bold;
}

@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

#headdef {
  color: #27262c;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 40px #2e2e31;
  font-size: 80px;
  font-weight: bold;
  
  text-decoration: none;
  letter-spacing: 3px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#headdef:before,
#headdef:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 6s infinite alternate ease-in-out tipsy;
  
}

#headdef:before {
  border-color: rgb(27, 113, 184) rgb(27, 113, 184) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

#headdef:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(27, 113, 184) rgb(27, 113, 184);
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}


#homerow{
  margin-top: 5%;
  padding-top: 7%;
  
  border-radius: 10px;

}
#imgrow, #titlesrow{
  padding: 5px;
  justify-content: center;
  text-align: center;
}
#imgrow img{
  border: 5px solid #27262c;
  border-radius: 5px;
  padding: 0;
  width: 31%;
}
#titlesrow p{
  font-family: 'Cabin Sketch';
  color: #2e2e31;
  font-weight: bold;
}
#briefitout{
  color: #27262c;
  font-weight: bold;
  font-size: 4em;
  font-family: 'Barrio';
}
#fronttext {
  color: #2e2e31;
  font-family: 'Englebert';
  text-align: justify;
  font-size: x-large;
  border-radius: 10px; 
  font-weight: bold;
  background-color: white;
}

#linkid{
 
  float: right;
  background-color: rgb(27, 113, 184);
  font-size: 0.9em;
  padding: 3% 3% ;
  margin-top: 1%;
  margin-bottom: 2%;
  text-decoration: none;
  color: white;
  text-shadow: black ;
  font-family:'Englebert';
  
  
}
  
  #linkid:hover{
    background-color: rgb(0, 100, 182);
  }



#frontrow{
  margin-top: 6.5%;
  padding-top: 2%;
  overflow: hidden;
  
  padding-bottom: 4%;
  padding-right: 2%;
  border-radius: 10px;
  
}

#second {
  background-color: white;
}

.card{
  display: flex;
  padding : 5%;
  border: 3px solid #27262c;
}

.card-image{
  align-items: center;
}

.card-content{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-wrap: wrap;
  height: 3%;
}
.card-content p{
  height: 150px;
}
span.card-title{
  color:black !important;
  font-size: 1.5em;
  font-family: 'Cabin Sketch';
  margin-top: 10px;
}

.card-action > a{
  text-decoration: none;
  font-weight: bold;
}
