#sentiment{
    background: url("https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg") no-repeat;
    background-size: cover;
}
#Setextareas > form{
    background-color: #27262c33;
    height: 450px;
    padding: 20px;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

#Setextareas #text{
    height:68%;
}
textarea{
    font-family: 'Pangolin';
    font-weight: bold;
    font-size: large;
    font-style: italic;
    resize:none;
    overflow: auto;
    width: 100%;
    height: 100%;
    position: relative;
    border-width: 1px;
    border-style: solid;
}


.progress{
    margin: 30px;
    font-size: .8rem;
    height: 5em;
    border-radius: 1em;
    background-color:white;
}

.progress-bar{
    padding: 0 20px;
    font-size: 1.2em;
    overflow: visible;
    font-weight:bolder;
    color: #27262c;
    font-family: "Pangolin";
    letter-spacing: .2em;
}
#file{
    width: 100%;
    margin: auto;
    position: relative;
    background-color:rgb(66, 143, 187);
    border: 1px solid white;
    border-radius: 2px;
    font-size: 0.85em;
    color: white;
    font-weight: bold;
}
@media only screen and  (min-width: 500px) {
    h1 {
        font-size: 3.5rem;  
    }
}
@media only screen and  (min-width: 625px) {
    h1 {
        font-size: 4.5rem;  
    }
}

 /* Small devices (tablets, 768px and up) */
@media only screen and  (min-width: 768px) {
    h1 {
        font-size: 5.5rem;  
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 5.7rem;  
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 5.8rem;  
    }
}

#userop{
    padding:2%;    
    color:#27262c;
    font-family: cursive;
    font-size: 0.9em;
    margin-bottom: 2%;
    margin: 0 auto 2% auto;
    font-weight: bold;
}
#bi{
    background-color:rgb(66, 143, 187);
    width: 50%;
    margin: auto;
    position: relative;
    color:white;
    border: 1px solid white;
    border-radius: 2px;
    font-size: medium;
    font-weight: bold;
    padding: 5px 0;
}
#bi:hover{
    background-color: rgb(80, 161, 185);
    color: white;
}




#sentiinputs #file{
    width: 100%;
    margin: auto;
    position: relative;
    background-color:rgba(245, 108, 92, 0.993);
    border: 2px solid white;
    border-radius: 5px;
    font-size: medium;
    color: white;
    font-weight: bold;
}