#summary{
    background: url("https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg") no-repeat;
    background-size: cover;
}

#Stextareas > form{
    
    height: 450px;
    padding: 20px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    background-color: #27262c33;
}

#text{
    height:68%;
}


#Ltextareas > form{
    background-color:rgba(21, 21, 27, 0.158);
    height: 450px;
    padding: 20px;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

textarea{
    font-family: 'Pangolin';
    font-weight: bold;
    font-size: large;
    font-style: italic;
    resize:none;
    overflow: auto;
    width: 100%;
    height: 100%;
    position: relative;
    border-width: 1px;
    border-style: solid;
}

#langinputs,#summaryinputs{
    margin: 0;
}
#langinputs  input{
    width: 100%;
    position: relative;
    background-color:rgb(66, 143, 187);
    border: 1px solid white;
    border-radius: 2px;
    font-size: small;
    color: white;
    font-weight: bold;
}
select{
    width: 100%;
    position: relative;
    background-color:rgb(66, 143, 187);
    border: 1px solid white;
    border-radius: 2px;
    font-size: medium;
    color: white;
    font-weight: bold;
    padding: 5px 2px;
}
select option{
    font-weight: bold;
}
input::placeholder{
    color: white;
}
textarea::placeholder{
    color: gray;
}
#langinputs #file{
    width: 100%;
    margin: auto;
    position: relative;
    background-color:rgb(66, 143, 187);
    border: 1px solid white;
    border-radius: 2px;
    font-size: 0.85em;
    color: white;
    font-weight: bold;
}
#summaryinputs #file{
    width: 100%;
    margin: auto;
    position: relative;
    background-color:rgb(66, 143, 187);
    border: 1px solid white;
    border-radius: 2px;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
    overflow: hidden;
}
#summaryinputs #fr{
    width: 100%;
    margin: auto;
    position: relative;
    background-color:rgb(66, 143, 187);
    border: 1px solid white;
    border-radius: 2px;
    font-size: medium;
    color: white;
    font-weight: bold;
    padding: 5px 5px;
}
@media only screen and  (min-width: 500px) {
    h1 {
        font-size: 3.5rem;  
    }
}
@media only screen and  (min-width: 625px) {
    h1 {
        font-size: 4.5rem;  
    }
}

 /* Small devices (tablets, 768px and up) */
@media only screen and  (min-width: 768px) {
    h1 {
        font-size: 5.5rem;  
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 5.7rem;  
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 5.8rem;  
    }
}
#userop{
    padding:2%;    
    color:#27262c;
    font-family: cursive;
    font-size: 0.9em;
    margin-bottom: 2%;
    margin: 0 auto 2% auto;
    font-weight: bold;
}
#bi{
    background-color:rgb(66, 143, 187);
    width: 100%;
    margin: auto;
    position: relative;
    color:white;
    border: 1px solid white;
    border-radius: 2px;
    font-size: medium;
    font-weight: bold;
    padding: 5px 0;
}
#bi:hover{
    background-color:  rgb(80, 161, 185);
    color: white;
}


#Ltextareas #userop{
    padding:2%;
    color: #27262c;
    font-family: cursive;
    font-size: 1em;
    width: 100%;
    margin: 0 auto 2% auto;
}

